[user]
	name = Juan Henao
	email = juanhenao21@gmail.com
	signingkey =
[init]
	defaultBranch = main
[pull]
	ff = only
[core]
	excludesfile = /home/juan/.gitignore_global
[push]
	default = current
[commit]
	gpgsign = true
